.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.jersey-font {
  font-family: "Jersey 10", sans-serif;
}
.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jersey+10&family=Pacifico&family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&family=Shadows+Into+Light&family=Tac+One&display=swap');
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-style: normal;
}
.tac-one-regular {
  font-family: "Tac One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
i{
  cursor: pointer;
}